# udev rule for the NXP mxc_isi driver. Creates a persistent symlink at /dev/video-camera.
SUBSYSTEM=="video4linux", ATTRS{name}=="mxc_isi*", SYMLINK+="video-camera"